<!DOCTYPE html>
<html>
  <head>
    <title>Abstract Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Random Abstract Generator</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="keyword" class="form-control" id="keyword-box" placeholder="Enter keyword(s)" style="max-width: 300px;" autofocus required>
        </div>
        <input type="submit" name="action" value="Markov Chain" />
        <input type="submit" name="action" value="LSTM" />
      </form>
      
    </div>
    <div class="container">
      <h2>{{ results['title'] }}</h2>
      <p>{{ results['body'] }}</p>
      <p>{{ results['keywords']}}</p>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>